# SPDX-FileCopyrightText: Contributors to technology-data <https://github.com/pypsa/technology-data>
#
# SPDX-License-Identifier: GPL-3.0-only

name: technology-data
channels:
- conda-forge
- bioconda
dependencies:
- python>=3.10
- pip
  # for running the package
- snakemake-minimal>=8.5
- pandas>=2.1,<3
- pypsa
- pyarrow
- numpy
- beautifulsoup4
- xlrd
- scipy
- openpyxl>=3.1.2
- python-calamine
- packaging
- pytest

# Development dependencies
- pre-commit
- ruff

# Interactive execution
- ipykernel

- pip:
  - tabula-py
  - currencyconverter
