include src/technologydata/utils/*.txt
include src/technologydata/package_data/dea_energy_storage/*.json
include src/technologydata/package_data/raw/*
include test/test_data/currency_conversion/WB_CNY_2020/*
include test/test_data/currency_conversion/WB_EUR_2020/*
include test/test_data/currency_conversion/WB_USD_2020/*
include test/test_data/solar_photovoltaics_example/*
include *.yaml
include CITATIONS.cff README.md
include LICENSE
include *.toml
