# SPDX-FileCopyrightText: Contributors to technology-data <https://github.com/pypsa/technology-data>
#
# SPDX-License-Identifier: GPL-3.0-only

sphinx
sphinx-book-theme
sphinxcontrib-bibtex
myst-parser